In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

# Extracting features of 2021 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
len(tables)

4

In [6]:
type(tables[0])

bs4.element.Tag

In [7]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\1752420719.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [9]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,5.0,Hacksaw,Leone Films / Midnight Releasing,"Anthony Leone (director/screenplay); Amy Cay, ...",[3],NaN
2,JANUARY,12.0,Dr. Bird's Advice for Sad Poets,Relativity Media / Ketchup Entertainment,Yaniv Raz (director/screenplay); Lucas Jade Zu...,[4],NaN
3,JANUARY,13.0,The White Tiger,Netflix / ARRAY / Purple Pebble Pictures,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
4,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[5],NaN
...,...,...,...,...,...,...,...
360,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[277]
361,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[278]
362,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[279]
363,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[280]
364,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_2021 = df[['Title','Cast and crew']]

In [11]:
df_2021

,Title,Cast and crew
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...
1,Hacksaw,"Anthony Leone (director/screenplay); Amy Cay, ..."
2,Dr. Bird's Advice for Sad Poets,Yaniv Raz (director/screenplay); Lucas Jade Zu...
3,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...
4,Locked Down,Doug Liman (director); Steven Knight (screenpl...
...,...,...
360,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...
361,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...
362,American Underdog,"Erwin brothers (directors); Jon Erwin, David A..."
363,Memoria,Apichatpong Weerasethakul (director/acreenplay...
364,NaN,NaN

In [12]:
!pip install tmdbv3api

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tmdbv3api in c:\users\kiit\appdata\roaming\python\python39\site-packages (1.9.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)

In [27]:
from tmdbv3api import TMDb
import json
import requests
import numpy as np
tmdb = TMDb()
tmdb.api_key = 'caa7134e8101f1c78864a4713b8edf73'

In [28]:
from tmdbv3api import Movie
tmdb_movie = Movie()

def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result or not isinstance(result, list) or len(result) == 0:
        return np.NaN
    else:
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
        data_json = response.json()
        if 'genres' in data_json and data_json['genres']:
            genre_str = " " 
            for i in range(len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.NaN

In [29]:
df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\3587185986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['genres'] = df_2021['Title'].map(lambda x: get_genre(str(x)))

In [30]:
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,NaN
1,Hacksaw,"Anthony Leone (director/screenplay); Amy Cay, ...",NaN
2,Dr. Bird's Advice for Sad Poets,Yaniv Raz (director/screenplay); Lucas Jade Zu...,NaN
3,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN
4,Locked Down,Doug Liman (director); Steven Knight (screenpl...,NaN
...,...,...,...
360,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,NaN
361,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,NaN
362,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",NaN
363,Memoria,Apichatpong Weerasethakul (director/acreenplay...,NaN
364,NaN,NaN,NaN

In [31]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [32]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\3118254134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [33]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [34]:
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\1611661901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [35]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [36]:
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\3001516348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [37]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [38]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [39]:
df_2021

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,NaN,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale
1,Hacksaw,"Anthony Leone (director/screenplay); Amy Cay, ...",NaN,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess
2,Dr. Bird's Advice for Sad Poets,Yaniv Raz (director/screenplay); Lucas Jade Zu...,NaN,Yaniv Raz,Lucas Jade Zumann,Taylor Russell,Chase Stokes
3,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
4,Locked Down,Doug Liman (director); Steven Knight (screenpl...,NaN,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
...,...,...,...,...,...,...,...
360,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,NaN,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel
361,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,NaN,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian
362,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",NaN,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid
363,Memoria,Apichatpong Weerasethakul (director/acreenplay...,NaN,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar
364,NaN,NaN,NaN,nan,nan,NaN,NaN

In [40]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [41]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [42]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,NaN,Shadow in the Cloud
1,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess,NaN,Hacksaw
2,Yaniv Raz,Lucas Jade Zumann,Taylor Russell,Chase Stokes,NaN,Dr. Bird's Advice for Sad Poets
3,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,NaN,The White Tiger
4,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,NaN,Locked Down
...,...,...,...,...,...,...
360,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,NaN,The Tragedy of Macbeth
361,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,NaN,A Journal for Jordan
362,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,NaN,American Underdog
363,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,NaN,Memoria
364,nan,nan,NaN,NaN,NaN,NaN

In [43]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [44]:
new_df21.isna().sum()

director_name      0
actor_1_name       0
actor_2_name       8
actor_3_name      26
genres           365
movie_title        1
comb             365
dtype: int64

In [45]:
new_df21 = new_df21.dropna(how='any')

In [46]:
new_df21.isna().sum()

director_name    0.0
actor_1_name     0.0
actor_2_name     0.0
actor_3_name     0.0
genres           0.0
movie_title      0.0
comb             0.0
dtype: float64

In [47]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [48]:
new_df21

Empty DataFrame
Columns: [director_name, actor_1_name, actor_2_name, actor_3_name, genres, movie_title, comb]
Index: []

In [49]:
old_df = pd.read_csv('final_data.csv')

In [50]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5856,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Comedy Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5857,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Action Drama Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5858,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Biography Drama,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5859,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...
5860,Waymon Boone,Mena Suvari,Kevin Pollak,unknown,Horror,apparition,Mena Suvari Kevin Pollak unknown Waymon Boone ...

In [51]:
final_df = old_df.append(new_df21,ignore_index=True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_6308\545207046.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = old_df.append(new_df21,ignore_index=True)

In [52]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5856,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Comedy Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5857,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Action Drama Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5858,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Biography Drama,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5859,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...
5860,Waymon Boone,Mena Suvari,Kevin Pollak,unknown,Horror,apparition,Mena Suvari Kevin Pollak unknown Waymon Boone ...

In [53]:
final_df.to_csv('main_data.csv',index=False)